section#ModalH.ModalH
  .ModalH-item
    .Box-text
      h2.Titulo-2 Nuestra Historia
    .Box-text
      p.Parrafo La Corporación Bienestar Familiar surge de la necesidad de organizarnos formalmente para proteger de mejor manera nuestra libertad de decidir sobre los tratamientos de salud tanto para nosotros como para nuesros hijos. La mayoría de las personas que forman parte de nuestra organización se articularon, inicialmente, en torno al grupo en Facebook "Libertad de vacunación para un Chile Democrático" que ya cuenta con más de 11.000 miembros y siete años de actividad.
      p.Parrafo Tras 7 años de trayectoria, una parte de este grupo decide dar un paso más allá, como necesidad urgente frente al avance decidido del lobby farmaceutico que pretende, mediante el control de la información y con la connivencia de los medios de comunicación y de nuestros políticos, quitarnos nuestro derecho a decidir e imponer una visión única de la salud en la que no caben ni voces dicidentes ni alternativas, sólo la obligación de seguir ordenes políticas incluso internacionales ("Sugerencias" de la ONU).
      p.Parrafo Es momento de que nos organicemos nosotros, antes de que se termine de imponer una censura total y absoluta que ya ha comenzado, cerrando las cuentas de personas que exponen información crítica sobre las vacunas, sean estos médicos o personas comunes afectadas por las vacunas.
      p.Parrafo En la actualidad contamos con cientos de personas motivadas con esta iniciativa dentro de las cuales tenemos, profesionales de la salud, informáticos, propietarios de medios alternativos de información, padres y madres preocupados por la salud suya y de sus hijos. No esperes a que la jaula se cierre para tratar de salir de ella, impidamos que se levanten los barrotes.
  button#closeModal
    i(class="fas fa-times")
