main.Main
  .Banner
    .Container-grid
      h1.Titulo Bienestar Familiar
      h2.Sub-titulo Promoviendo y protegiendo a las Familias chilenas
      p.Slogan Por el desarrollo sano e integral de nuestros hijos.
      a(class="Btn-cta" href="https://forms.gle/9F5jXegdpHAqEp2o9", target="_blank") Únete
  section#somos.Somos
    .Box-text
      h2.Titulo-2 Quiénes Somos?
    .Box-text
      .Card-text
        p.Parrafo La Corporación para el Bienestar Familiar es un organización no gubernamental de desarrollo sin fines de lucro cuyo objetivo es el bienestar de la comunidad a través de la realización de actividades de asesoramiento, educación y orientación. Promovemos el cuidado de la salud de manera responsable e informada, defendiendo la libertad individual de optar al sistema de salud o tratamiento que cada uno prefiera.
        p.Parrafo Como comunidad contamos con 7 años de existencia, encontrándonos hoy en el proceso de constituirnos oficialmente, etapa en la que esperamos nos acompañes apoyandonos y/o formando parte de esta red de madres y padres organizados.
    .Box-btn
      button.Btn-modal#Historia Saber más
  section#hacemos.Hacemos
    .Box-text
      h2.Titulo-2 Nuestros Objetivos
    .Box-text
      .Card-text
        h3.Titulo-3 Visión
        p.Parrafo Buscamos promover el bienestar de la comunidad, a través de la realización de actividades de asesoramiento, educación, orientación y demás similares, respecto de prevención (incluyendo la vacunación), mantención y mejora de la salud, así como también respecto a tratamientos alternativos de menores y mayores de edad, promoviendo una inmunización y cuidado de la salud responsable, y defendiendo la libertad individual, o de los tutores legales en el caso de los menores de edad, de optar al sistema de salud o tratamiento de su preferencia.
      .Card-text
        h3.Titulo-3 Misión
        p.Parrafo Nuestra principal misión es la de proteger y promover nuestro derecho a la salud y a la de nuestros hijos en el marco del respero a la libertad de elección como derecho humano fundamental.Para la consecución de nuestros objetivos desarrollaremos planes, proyectos, programas, seminarios, cursos, estudios, conferencias, eventos y campañas. Promoveremos y ejecutaremos programas conjuntamente con otros organismos públicos y/o privados, relacionados directamente con la misión institucional. Buscaremos alianzas con otros organismos públicos y/o privados, firmando convenios, acuerdos y otras formas de colaboración estratégica.
  section.Sumate#sumate
    .Box-text
      h2.Titulo-2 Únete
    .Box-text
      .Card-text
        p.Parrafo Estamos conformando nuestra Corporación que tendrá como fin defender el Derecho preferente de los Padres para decidir respecto a la Salud, Educación y estilo de vida que le queramos dar a nuestros hijos. Para impulsar esta iniciativa pretendemos contar con abogados con la información necesaria para nuestra defensa en Tribunales cuando decidamos rechazar alguna (o todas las vacunas) o cuando veamos vulnerado nuestro derecho preferente como padres que afecten el sano e integral desarrollo de nuestros hijos. Buscamos que sus honorarios estén cubiertos por la Fundación y que los servicios prestados estén disponibles para los socios de dicha Fundación, pero como comprenderás hay que encontrar la formula para financiarlo.
        p.Parrafo Si deseas formar parte de esta Corporación inscríbete llenando nuestro formulario, también se solicitará en este documento que indiques un aporte voluntario, con la finalidad de levantar información que nos será útil para estimar la forma de financiar esta iniciativa.  Es imperativo en este minuto que aunemos fuerzas para evitar que el Estado pase por sobre nosotros y nuestra voluntad de padres.
        p.Parrafo Esperamos tu comprensión y te recordamos que es importante llenar los campos solicitados dentro del formulario.Una vez recepcionada la información se realizará una revisión de los antecedentes y se te informará sobre tu ingreso.
    .Box-text
      .Card-text
        h3.Titulo-3 Únete
        p.Parrafo Accede a nuestro formulario de inscripción haciendo click sobre el boton.
        button.Btn-modal#FormJoin Formulario
      .Card-text
        h3.Titulo-3 Síguenos
        p.Parrafo Puedes seguirnos en Facebook o unirte a nuestro grupo de Whatsapp
        a(href="https://www.facebook.com/groups/394498854485201/", target="_blank").Icon-link.fab.fa-facebook-square
        a(class="Icon-link fab fa-whatsapp" href="https://chat.whatsapp.com/LimXdgGHJ164rstFJq6bGQ" target="_blank")
      .Card-text
        h3.Titulo-3 Apóyanos
        p.Parrafo Recibimos donaciones a través de PayPal
        form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
          input(type="hidden" name="cmd" value="_donations")
          input(type="hidden" name="business" value="XXCDPT5P2WD2G")
          input(type="image" src="img/boton-paypal.png" border="none" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button")
          img(alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1")
include ../elements/modal-historia
