//- Variables
-let titulo = "Bienestar Familiar | Corporación de Bienestar Familiar";
-let url = "http://localhost:3000/";
//- -let url = "https://gbvong.cl/";
-let descripcion = "La Corporación de Bienstar Familiar busca protejer, promover y conservar el derecho preferente de los padres a decidir sobre los asuntos que afecten el desarrollo integral de la familia y de sus miembros como nucleo fundamental de la sociedad y de nuestra civilización";
-let fuentes = "https://fonts.googleapis.com/css?family=Cinzel|Montserrat&display=swap";
-let iconos = "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
-let hamburguesa = "https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css";
//- -let sweetalert = "https://cdn.jsdelivr.net/npm/sweetalert2@8";

-
  let link = {
    inicio: url,
    objetivos: "#objetivos",
    somos: "#somos",
    sumate: "#sumate"
  }


//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}
