.Card-copy{
  // border: 1px solid red;
  display: grid;
  max-width: 585px;
  margin: auto;
  grid-template-columns: var(--columns-card-copy);
  grid-template-rows: var(--rows-card-copy);
  font-family: $fuente-secundaria;
  color: color(silver);
  padding: var(--padding-box-creditos);
  grid-gap: var(--gap-card-copy);
  & p:first-child{
    justify-self: center;
    @include mq(md){
      justify-self: end;
      // border: 1px solid blue;
    }
  }
  & p:last-child{
    justify-self: center;
    @include mq(md){
      justify-self: start;
      // border: 1px solid green;
    }
  }
}
