 //Para obtener color

 @function color($color) {
  @return map-get($colors,$color);
}

// Paleta de colores

$colors:(
  primary: #58BB54,
  secondary: #784421,
  tertiary: #A06C2C,
  success: #BEC33E,
  cta: #E0B544,
  alert: #C0362C,
  silver: #C4C4C4,
  fondo: #4EA55A,
  shark: #1C1C1A,
  granny: #869a9c,
  tacha: #d3c558,
  bg: #e5e5e5,
  bg-item: #ffffff,
  logo: #a27729,
);

$fondo-transparente: rgba(9, 10, 7, 0.8);

 // Con esta función, para capturar el color bastaria poner, por ejemplo:
 //
 // div{
 //   background: color(gris-claro);
 // }
