 //Para obtener color

 @function color($color) {
  @return map-get($colors,$color);
}

// Paleta de colores

$colors:(
  primary: rgb(4, 28, 55),
  secondary: rgb(10, 175, 145),
  tertiary: rgb(94, 185, 219),
  quaternary: rgb(15, 120, 135),
  my-pink: #d7a186,
  tobaco: #6c371b,
  success: #c86c0e,
  cta: #c86c0e,
  alert: #C0362C,
  silver: #C4C4C4,
  fondo: #041c37,
  shark: #79797a,
  granny: #1a1e1f,
  bg: #e5e5e5,
  bg-item: #ffffff,
);

$fondo-transparente: rgba(9, 10, 7, 0.8);

 // Con esta función, para capturar el color bastaria poner, por ejemplo:
 //
 // div{
 //   background: color(gris-claro);
 // }
